<h1>Add Game</h1>
<form>
  <div>
    <label>Game Name: </label>
    <input type="text" [(ngModel)]="name" name="name" required #psName="ngModel"/>
  </div>
  <div>
    <label>Generation: </label>
    <input type="text" [(ngModel)]="generation" name="generation" required #psGeneration="ngModel"/>
  </div>
  <div>
    <label>Image: </label>
    <input type="file" [(ngModel)]="picture" name="picture" required #psPicture="ngModel"/>
  </div>
  <div class="submit">
    <button type="button" [disabled]="!psName.valid || !psGeneration.valid" (click)="addGame()">Add Game</button>
  </div>
</form>