<h1>About</h1>
<p>Do you want to be the very best like no one every was? Well, look no further! This website is made to help make that dream come true.</p>
<h2>NOTICE: THERE ARE POKEMON THAT CANNOT BE LEGITIMATELY OBTAINED IN PREVIOUS VERSIONS. PROCEED TO GLITCH AT YOUR OWN RISK.</h2>
<h2>What is a livingdex?</h2>
<p>Every Pok&#232;mon Master's dream is to have their Pok&#232;dex filled and their PC boxes full. A living dex is a step up from that.
    With a livingdex, you want one of every Pok&#232;emon in your PC box, not just one of their evolved forms. Lets take Venasaur as an example.
    Before, one might get a Bulbasaur as a starter Pok&#232;mon and evolve their way up to Venasaur and that would be the end of it. For a livingdex,
    you will breed the Venasaur twice, to hatch two Bulbasaurs and evolve one to Ivysaur. The goal, ultimately, is to have one of every Pok&#232;mon.
    This website is made to help any trainer, from novice to master, in their quest to "Catch 'em All!"
</p>
<h2>What About Mythicals?</h2>
<p>For anyone that doesn't know, mythical Pok&#232;mon are ONLY obtainable from events. That being said, this website is a guide to help anyone get
    a livingdex. That means in order to obtain some Pok&#232;mon, you will need to cause some glitches.
</p>